**/bin/
**/obj/
**/node_modules/
**/TestResults/
**/coverage/
.npm-cache/
src/backend/Afraz.Api/wwwroot/*
!src/backend/Afraz.Api/wwwroot/.gitkeep
src/frontend/android/
src/frontend/ios/
src/frontend/dist/
.env
.DS_Store
desktop.ini
.idea/
.vs/
.vscode/
playwright-report/
test-results/
